<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="//s.4cdn.org/image/favicon-ws.ico" type="image/x-icon">
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
        }

        .grid-item {
            text-align: center;
        }

        h1 {

            font-weight: bold;
            color: #af0a0f
        }

        h6 {

            font-weight: bold;
            color: #af0a0f
        }

        body {
            background: #eef2ff top center repeat-x;
            margin-right: 15%;
        }

        .display-none {
            display: none;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: start;
            align-items: auto;
            align-content: start
        }

        .container:after {
            display: block;
            content: "";
            margin: 3px;
            flex: 999 999 auto;
        }

        .item {
            flex: 1 0 auto;
            margin: 3px;
        }

        img:hover {
            border: 2px solid #af0a0f;
        }

        .item>img {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>{{title}}</h1>
    <h6>{{videos.length}} videos</h6>
    <div id="player"></div>
    <br>
    <div class="container">
        {{#each videos}}
        <div class="item">
            <span class="display-none video-id">{{this.id}}</span>
            <img src="https://img.youtube.com/vi/{{this.id}}/3.jpg" alt="{{this.url}}" video-id="{{this.id}}"
                onclick="playVideoById(event)">
        </div>
        {{/each}}
    </div>

    <script>
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;
        var videos = [];
        var currentIndex = 0;
        function onYouTubeIframeAPIReady() {
            const elements = document.getElementsByClassName('video-id')
            for (element of elements) {
                videos.push(element.innerHTML);
            }
            player = new YT.Player('player', {
                height: '360',
                width: '640',
                videoId: videos[currentIndex],
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }
        function onPlayerReady(event) {
            event.target.playVideo();
        }
        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.ENDED) {
                playNextVideo();
            }
        }
        function stopVideo() {
            player.stopVideo();
        }
        function playNextVideo() {
            currentIndex++;
            player.loadVideoById(videos[currentIndex], 0, "large")
        }
        function playVideoById(event) {
            const id = event.currentTarget.getAttribute('video-id')
            const index = videos.indexOf(id)
            currentIndex = index;
            player.loadVideoById(videos[currentIndex], 0, "large")
        }
    </script>
</body>

</html>