<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="//s.4cdn.org/image/favicon-ws.ico" type="image/x-icon">
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto auto;
        }

        .grid-item {
            text-align: center;
        }

        h1 {

            font-weight: bold;
            color: #af0a0f
        }

        h6 {

            font-weight: bold;
            color: #af0a0f
        }

        body {
            background: #eef2ff top center repeat-x;
            margin-right: 15%;
        }
    </style>
</head>

<body>
    <h1>{{title}}</h1>
    <h6>{{videos.length}} videos</h6>
    <div class="grid-container">
        {{#each videos}}
        <div class="grid-item">
            <iframe src="{{this.embedded}}" frameborder="0"></iframe>
            <a href="{{this.url}}" target="_blank">{{this.url}}</a>
        </div>
        {{/each}}
    </div>
</body>

</html>